* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    background-color: white;
    color: grey;
}
p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}
img {
    border-radius: 5px;
    width: 150px;
    height: 220px;
}
input[type="text"], input[type="password"], input[type="search"] {
    color: grey;
    width: 60%;
    padding: 8px;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}
h1, h2 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 5px 0 ;
    padding: 5px 0 5px 0;
    color: black;
}
h2 {
    font-size: 140%;
}
a, a:hover {
    outline: none;
    text-decoration: underline;
    color: skyblue;
}
ul {
    margin: 2px 0 22px 17px;
}
ul li {
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}
.header {
    background-color: black;
    height: 177px;
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
}
.main, .logo, .menuBar, .siteContent, .footer {
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 800px;
    padding-bottom: 40px;
}
.logo h1, .logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}
.logoText h1, .logoText h1 a, .logoText h1 a:hover {
    font-weight: bolder;
    padding: 22px 0 0 0;
    color: white;
    letter-spacing: 0.01em;
    text-decoration: none;
}
.logoText h2 {
    font-size: 1.7em;
    font-variant: small-caps;
    padding: 4px 0 0 0; 
    color: grey;
}
.menuBar {
    width: 900px;
    height: 46px;
}
ul.menu {
    float: right;
}
ul.menu li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}
ul.menu li a {
    font: normal 125% 'century gothic', arial, sans-serif;
    display: block;
    height: 20px; 
    padding: 6px 0 5px 28px;
    color: white;
    text-decoration: none;
}
ul.menu li.selected a {
    color: red;
}
ul.menu li a:hover {
    color: gold;
}
hr {
    border: solid 1px #f3f3f3;
    width: 610px;
}
.siteContent {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}
.sidebarContainer {
    float: right;
    width: 224px;
}
.sidebar {
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.btn {
    padding: 8px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.sidebar h2 {
    color: red;
}
.lablesPassregText {
    font-size: 0.8em;
    margin-top: 3%;
    margin-left: 2%;
}
.sidebar input[name="loginField"] {
    margin-bottom: 2%;
}
.sidebar ul {
    margin: 0;
}
.sidebar ul li {
    list-style-type: none;
    margin: 0 0 0 0;
}
.sidebar .ratingSidebar {
    float: right;
}
.content {
    text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left;
}
.content a {
    text-decoration: none;
}
.filmsBlock {
    margin-bottom: 5%;
}
.infoFilmPage {
    font-size: 1.2em;
    margin-top: 2%;
    margin-bottom: 4%;
}
.infoFilmPage .value {
    color: red;
    margin-right: 3%;
}
.descriptionFilm {
    margin-bottom: 5%;
    margin-right: 5%;
}
.descriptionFilm img {
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    width: 150px;
    height: 220px;
}
.descriptionFilm p {
    padding: 0 0 0 0; 
}
.reviews {
    margin-bottom: 4%;
    font-size: 0.9em;
}
.reviews .reviewName {
    background-color: red;
    color: white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.reviews .reviewText {
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 2%;
}
.send {
    margin-bottom: 4%;
    }
.send input[type="text"], textarea {
    border: solid 1px grey;
    margin-bottom: 2%;
}
.send input[type="text"] {
    width: 98%;
}
.send textarea {
    width: 624px;
    height: 200px;
}
.feedback textarea {
    width: 610px;
    height: 200px;
}
.feedback input[type="text"], textarea {
    border: solid 1px grey;
    margin-bottom: 2%;
}
.infoFilm {
    margin-bottom: 3%;
    background-color: #f9f9f9;
    padding: 3%;
    height: 260px;
    width: 572px;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}
.infoFilm img {
    border-radius: 5px;
    width: 150px;
    height: 220px;
    float: left;
    margin-right: 2%;
}
.button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 2%;
    float: right;
    clear: both;
}
.button a {
    color: white;
}
.button a:hover {
    color: white;
}
table{
    width: 99%;
    border: solid 1px #f2f2ff;
    border-radius: 5px;
    background-color: #f9f9f9;
}
td {
    padding: 2%;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: white;
}
td img {
    width: 75px;
    height: 100px;
    vertical-align: middle;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.footer {
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
}
.footer a {
    color: red;
    text-decoration: none;
}
footer, a:hover {
    color: gold;
    text-decoration: none;
}
.footer p {
    padding: 0 0 10px 0;
}
/* Ð¡SS Mobile */
/* @media only screen
and (min-device-width: 320px)
and (min-device-height: 568px) {
    .header {
        min-width: 100%;
        height: 20%;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .siteContent {
        width: 100%;
        text-align: center;
    }
    .menuBar {
        width: 100%;
        height: 100%;
    }
    .sidebarContainer {
        display: none;
    }
    .footer {
        display: none;
    }
    .menu {
        margin: 0 20px 0 0;
    }
    ul.menu {
        float: none;
    }
    ul.menu li {
        margin: 0;
        padding: 0;
        float: none;
    }
    .logo h1{
        font: normal 235% 'century gothic', arial, sans-serif;
    }
    .logo h2{
        font: normal 100% 'century gothic', arial, sans-serif;
    }
    .content h1, h2 {
        font: normal 110% 'century gothic', arial;
    }
    .filmsBlock img {
        width: 43%;
        height: 43%;
    }
    .postsContent p {
        line-height: 1.5em;
        padding: 3%;
        text-align: left;
    }
    .posts p {
        font-size: 120%;
    }
    Films Page
    .infoFilm {
        float: none;
        height: 100%;
    }
    .infoFilm img {
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
        float: none;
    }
    .button {
        float: none;
    }
    .table {
        display: block; 
    }
    th {
        font-size: 75%;
    }
    .content {
        width: 100%
    }
    td {
        padding: 0;
        margin: 0;
        font-size: 95%;
    }
    Show Page
    iframe {
        width: 88%;
        height: 100%;
    }
    .descriptionFilm {
        width: 90%;
        text-align: left;
        margin-left: 2%;
    }
    .descriptionFilm img {
        float: none;
        width: 73%;
        height: 73%;
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 11%;
        margin-bottom: 7%;
    }
    .reviews {
        text-align: left;
        width: 96%
    }
    .send input[type="text"] {
        width: 80%;
    }
    .send textarea {
        width: 85%;;
    }
} */ 